<header fxLayout="row" fxLayoutGap="0px" fxLayoutAlign="start center" >
    <h1>Hotel</h1>
    <nav class="navbar"> 
            <div class="menu-list">
                <ul class="nav navbar-nav" fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="start center" >
                    <li>
                        <a routerLink="/roombooking" routerLinkActive="active">Room booking</a>
                    </li>
                    <li >
                        <a routerLink="/mybookings" routerLinkActive="active">My bookings</a>
                    </li>
                </ul>
            </div>
    </nav>
</header>
