/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
}

:focus-visible {
    outline: -webkit-focus-ring-color auto 1px;
    font-weight: bold;
    outline-color: lightblue !important;
}