<div class="header-label">
    <label>My Bookings</label>
</div>
<div class="content">
    <div class="guest-box" *ngIf="!bookList.length">
        <p>You have no bookings yet</p>
    </div>
    <div class="guest-list" *ngFor="let item of bookList">
        <label class="guest-name">{{item.guestList[0].firstName+" "+item.guestList[0].lastName}} <span style="float: right;">{{item.guestList.length}} guest(s)</span></label>
        <label class="guest-basic-details">Room: {{item.room}} </label>
        <label class="guest-address">Check in : <span>{{item.checkIn|date:'YYYY-MM-DD'}}</span></label>
        <label class="guest-address">Check out : <span>{{item.checkOut|date:'YYYY-MM-DD'}}</span></label>
    </div>
</div>